* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #ffffff;
  color: #000000;
}

header {
  background: #0c0c0c;
  color: white;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.menu a {
  color: white;
  text-decoration: none;
}

#menu-btn {
  display: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  border: none;
}

.hero {
  padding: 3rem;
  text-align: center;
  background: #e4e4e4;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
  margin-top: 2rem;
}
